.embeddedMessagingConversationButtonWrapper .embeddedMessagingConversationButton::after {
   content: "Chat with Agent";
   display: block;
   color: white;
   font-size: var(--eswIconFontSize, 16px);
   text-align: center;
   line-height: 56px;
   padding: 6px;
   padding-right: 0;
}
    
.embeddedMessagingConversationButtonWrapper .embeddedMessagingConversationButton {
    position: fixed;
    bottom: var(--eswButtonBottom, 25px);
    right: var(--eswButtonRight, 30px);
    height: 56px;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 5px 0 rgba(45, 45, 45, 0.5);
    text-align: center;
    overflow: hidden;
    pointer-events: all;
    cursor: pointer;
    line-height: normal;
    padding: 0;
    margin: 0;
    font-size: var(--eswIconFontSize, 16px);
    box-sizing: border-box;

    /* Propiedades que deseas modificar */
    width: 200px;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    display: flex;
}
