.embeddedMessagingConversationButtonWrapper .embeddedMessagingConversationButton::after {
   content: "Chat with Agent";
   display: block;
   color: white;
   font-size: var(--eswIconFontSize, 16px);
   text-align: center;
   line-height: 56px;
   padding: 6px;
   padding-right: 0;
}
    
.embeddedMessagingConversationButtonWrapper .embeddedMessagingConversationButton {
   width: 200px !important;
   border-radius: 9px !important;
   align-items: center;
   justify-content: center; 
   display: flex !important;
}
    
